{% extends 'base.html' %}
{% block title %}Settings{% endblock %}
{% block content %}
<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>General Settings</legend>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="master_password">Master Password</label>
  <div class="col-md-4">
    <button id="master_password" name="master_password" class="btn btn-default">Change</button>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="master_password_reminder">Master Password Reminder</label>
  <div class="col-md-4">
    <button id="master_password_reminder" name="master_password_reminder" class="btn btn-default">View</button>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="email">Email</label>  
  <div class="col-md-4">
  <input type="text" readonly class="form-control-plaintext" id="static_email" value="email@example.com">
  <button id="change_email" name="change_email" class="btn btn-default">Change</button> 
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="timezone">Timezone</label>
  <div class="col-md-4">
    <select id="timezone" name="timezone" class="form-control">
      <option value="1">PT</option>
      <option value="2">CT</option>
      <option value="3">ET</option>
    </select>
  </div>
</div>
<p align=center><a href="/settings_advanced">Show Advanced Settings</a></p>
</fieldset>
</form>

{% endblock %}