{% extends "bootstrap/base.html" %}

{% block title %}
  Password Manager | {% block title_page %}Home{% endblock %}
{% endblock %}

{% block head %}
  {{super()}}
  {# Default head for all pages #}
  {% include "partials/header.html" %}
{% endblock %}

{% block styles %}
  {{super()}}
  {# Default styles for all pages #}
  <link rel="stylesheet" type="text/css"
        href="{{url_for('static', filename='css/style.css')}}">
{% endblock %}

{% block navbar %}
  {% include "macros/navbar.html" %}
{% endblock %}

{% block content %}
  <div id="content">
    {% block container %}
    <h1>Hi!</h1>
    {% endblock %}
  </div>
{% endblock %}

{% block footer %}
    {% include "partials/footer.html" %}
{% endblock %}